.playerCard{
    background-color: rgb(237, 237, 237);
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 15rem;
    width: 20rem;
    box-shadow: 2px 2px 5px rgb(167, 159, 159);
}